<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/Classes</directory>
    </include>
    <report>
      <clover outputFile="/tmp/coverage.xml"/>
      <html outputDirectory="tmp/" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuite name="Leetcode">
    <directory suffix="Test.php">./tests/Leetcode</directory>
  </testsuite>
  <logging/>
</phpunit>
